@import url("https://fonts.googleapis.com/css2?family=Vidaloka&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Vidaloka", serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: #dcd7c9;
    background: #414141;
  }
}
